extends layout

block content
	.jumbotron
		.container
			h1 This is the main Heading !
			p this is some some text. this should be that one line which defines the purpose of this website. something interesting or fascinating which deserves the users attention.
			a.btn.btn-primary.btn-lg(href="#") Know more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius rutrum placerat. Vestibulum fringilla gravida lorem, et lobortis lorem dictum non. Sed iaculis tempus hendrerit. Donec molestie, enim sed sollicitudin tempor, dolor dolor commodo dui, sit amet consequat lorem dolor ut ante. Duis in ultricies felis. Duis commodo ultricies tellus sit amet ultricies. Etiam at elit at urna hendrerit cursus. Pellentesque eleifend congue elementum. Duis vitae dictum odio. Ut viverra mauris purus, et mollis lacus malesuada non. Aliquam eget feugiat lectus. Proin ultrices ex sed vehicula lobortis. Morbi vitae vehicula nisl. Morbi tristique quis odio ut ultrices. Praesent eget interdum lorem, ac hendrerit dui.
				a.btn.btn-default(href='#') Details
			.col-md-4
				h2 Services
				p Proin pellentesque felis nec nulla vehicula vestibulum. Donec dapibus est in sollicitudin accumsan. Curabitur id nunc ut nibh consectetur lacinia. Nullam ex libero, vehicula quis aliquam vitae, finibus non neque. Sed quis sodales enim. Suspendisse elementum, quam in condimentum condimentum, ante mi interdum turpis, eget tincidunt erat nisl id lacus. Nullam ornare lectus in purus rutrum euismod. Maecenas pellentesque arcu quis risus ultricies, ac dignissim nibh rutrum. Donec a nunc et eros viverra hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque tellus libero, pulvinar sit amet dapibus non, tincidunt in massa. Nam porttitor ullamcorper libero tincidunt finibus.
				a.btn.btn-default(href='#') Details
			.col-md-4
				h2 Get In Touch
				p Vivamus ultrices, massa sit amet sollicitudin tincidunt, ipsum augue sollicitudin metus, sed dapibus orci leo iaculis urna. Curabitur semper mi sit amet ultricies ultrices. In quis tincidunt erat, ut sollicitudin turpis. Fusce maximus gravida neque eu sollicitudin. Sed euismod luctus tellus a feugiat. Phasellus condimentum semper commodo. Maecenas purus arcu, gravida non facilisis vel, rutrum ac ligula. Nunc semper vulputate cursus. In hac habitasse platea dictumst. Suspendisse finibus pharetra facilisis. Quisque eu pretium odio, quis sodales ligula. Duis eu elementum diam.
				a.btn.btn-default(href='#') Details
